body {
  font-size: 12px;
  font-family: "Oxygen", sans-serif;
  color: rgb(14, 13, 13);
}


/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 2px solid rgb(48, 47, 47);
}

.navbar-brand {
  height: 100px;
}


.navbar-brand h1 {
  font-size: 2.5em;
  font-weight: bold; 
  color: #070707;
  margin-top: 10px;
  margin-bottom: 0px;
}

#nav-list {
  margin-top: 0px;
}

#nav-list a {
  color: rgb(14, 13, 13);
  text-align: center;
  font-size: 1.8em;  
  border: 1px solid #070707;
}

#nav-list a:hover {
  background: #E7E7E7;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #070707;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -70px;
}
/*
