body {
  font-size: 12px;
  font-family: "Oxygen", sans-serif;
  color: rgb(14, 13, 13);
}


/** HEADER **/
#header-menu {
  border-radius: 0;
  border: 2px solid rgb(48, 47, 47);
  margin-bottom: 0px;
  background-color: #a7a7a7;
}

.navbar-brand {
  height: 100px;
}

.navbar-brand h1 {
  font-size: 2.5em;
  font-weight: bold; 
  color: #070707;
  margin-top: 10px;
  margin-bottom: 0px;
}

#nav-menu {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: white;  
}

#nav-menu-active{
  background-color: #817f7f;  
}

#nav-menu a {
  color: rgb(14, 13, 13);
  text-align: center;
  font-size: 1.8em;  
  border: 1px solid #070707;
}

#nav-menu a:hover {
  background-color: #817f7f;  
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #070707;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -70px;
}

/** End Header **/

/** OUR MENU**/
#menu-title + div {
  margin-bottom: 100px;
}

#menu-section {
  margin-top: 30px;
  background: rgb(207, 204, 204);
}

section p {
  font-size: 1.3em; 
  margin-top: 10px; 
}
/** End Our Menu**/
